<h4>Join the Google Group</h4>

<form action="{{ url }}" method="post" class="inline-form">
    <fieldset>
        <label for="search-field" class="is-vishidden">E-mail Address</label>
        <input type="search" placeholder="E-mail Address" id="search-field" class="search-field" /><br />
        <a class="btn right">Join</a>
    </fieldset>
</form>