<div class="page" id="page">
    {{> organisms-header }}
    <div role="main" class="container">

        <div class="columns col17">


            {{# latest-posts}}
                <li>{{> molecules-media-block }}</li>
            {{/ latest-posts}}

            <a href="#" class="text-btn">View more posts</a>

            {{> molecules-pagination }}
        </div><!--end l-main-->

        <div class="columns col6 prepend-1 last">
            {{> organisms-sponsors }}
        </div><!--end l-sidebar-->
    </div><!--End role=main-->
    {{> organisms-footer }}
</div>

