<div class="page" id="page">
    {{> organisms-header }}
    <div role="main" class="container">

        <div class="columns col17">

            {{> organisms-latest-posts }}
            {{> molecules-pagination }}
        </div><!--end l-main-->

        <div class="columns col6 prepend-1 last">
            {{> organisms-sponsors }}
            {{> molecules-join }}
        </div><!--end l-sidebar-->
    </div><!--End role=main-->
    {{> organisms-footer }}
</div>

