<!-- Begin .header -->
<header class="header cf" role="banner">
    <div class="container">
        {{> atoms-logo }}
        {{> atoms-tagline }}
        <a href="#nav" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>
        {{> molecules-primary-nav }}
    </div>
</header>
<!-- End .header -->