&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
    {{&gt; organisms-header }}
    &lt;div role=&quot;main&quot; class=&quot;container&quot;&gt;

        &lt;div class=&quot;columns col17&quot;&gt;

            {{&gt; organisms-latest-posts }}
            {{&gt; molecules-pagination }}
        &lt;/div&gt;&lt;!--end l-main--&gt;

        &lt;div class=&quot;columns col6 prepend-1 last&quot;&gt;
            {{&gt; organisms-sponsors }}
            {{&gt; molecules-join }}
        &lt;/div&gt;&lt;!--end l-sidebar--&gt;
    &lt;/div&gt;&lt;!--End role=main--&gt;
    {{&gt; organisms-footer }}
&lt;/div&gt;

