<nav id="nav" class="nav">
	<ul class="nav-list">
		<li><a href="{{ url }}">About</a></li>
		<li><a href="{{ url }}">Discussion</a></li>
		<li><a href="{{ url }}">Contact</a></li>
	</ul>
</nav><!--end .nav-->
