    &lt;div class=&quot;columns col8&quot;&gt;
        &lt;div class=&quot;columns col2&quot;&gt;{{&gt; molecules-date }}&lt;/div&gt;
        &lt;div class=&quot;columns col6 last&quot;&gt;
            {{ excerpt.short }}
            &lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Button&lt;/a&gt;
        &lt;/div&gt;

    &lt;/div&gt;
