    &lt;section class=&quot;section latest-posts&quot;&gt;


        {{&gt; molecules-media-event }}
        {{&gt; molecules-media-block }}
        {{&gt; molecules-media-event }}
        {{&gt; molecules-media-event }}

	    &lt;a href=&quot;#&quot; class=&quot;text-btn&quot;&gt;View more posts&lt;/a&gt;
    &lt;/section&gt;
