<div class="block-thumb blog-excerpt">

        <h2 class="">
            <a href="{{ url }}" class="">{{ headline.short }}</a>
        </h2>
        <div class="b-thumb columns">
            {{> atoms-square }}
        </div>
        <p>{{ excerpt.medium }}</p>
        <div class="clear"></div>
</div>
<div class="clear"></div>
