<div class="blog-excerpt">
        <h2 class="">
            <a href="{{ url }}" class="">{{ headline.short }}</a>
        </h2>
        {{> molecules-event-widget }}
        <p>{{ excerpt.medium }}</p>
</div>
<div class="clear"></div>

