    <div class="columns col8">
        <div class="columns col2">{{> molecules-date }}</div>
        <div class="columns col6 last">
            {{ excerpt.short }}
            <a href="#" class="btn">Button</a>
        </div>

    </div>
