    <section class="section latest-posts">


        {{> molecules-media-event }}
        {{> molecules-media-block }}
        {{> molecules-media-event }}
        {{> molecules-media-event }}

	    <a href="#" class="text-btn">View more posts</a>
    </section>
