<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #1d79a8;"></span>
        <span class="sg-label">#1d79a8</span>

	</li>
    <li>
        <span class="sg-swatch" style="background: #43484b;"></span>
        <span class="sg-label">#43484b</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #bcbcbc;"></span>
        <span class="sg-label">#bcbcbc</span>
    </li>

</ul>